*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}
body{
    background-color: rgb(128, 196, 255);
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #222;
    color: #fff;
    overflow: auto;
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 10px;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
  }
  
  .content.open {
    margin-left: 0;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
  }
  
  .toggle-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  